.card .card-header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	min-height: 70px;
	padding: 0 2.25rem;
	background-color: white;
	border-bottom: 1px solid #EFF2F5;
	position: fixed;
	top: 150px;
	z-index: 999;
}
div .alert .aler-primary .ng-star-inserted {
	display: none;
}
#kt_content_container {
	margin-top: 100px;
}
