.card .card-header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	min-height: 70px;
	padding: 0 1.25rem;
	background-color: white;
	border-bottom: 2px solid #EFF2F5 !important;
	position: sticky;
	top: 150px;
	z-index: 999;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.alert-primary {
    	color: #005f94;
    	background-color: #ccecfd;
    	border-color: #b3e2fd;
	display: none;
}
ul.nav .nav-tabs {
	position: sticky;
    	top: 250px;
	z-index: 999;
}
